<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Leaderboard</title>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <div class="lwrapper">
            <div class= "lboard_section">
                <div class="tablezone">
                    <table>
                        <tr class = "tableheading">
                            <th class="ranking">Rank</th>
                            <th class="naming">Name</th>
                            <th class="scoring">Score</th>
                        </tr>
                        <tr class = p1>
                            <td class="rank">1</td> 
                            <td class="name"></td> 
                            <td class="score"></td>
                        </tr>
                        <tr class = p2>
                            <td class="rank">2</td> 
                            <td class="name"></td> 
                            <td class="score"></td>
                        </tr>
                        <tr class = p3>
                            <td class="rank">3</td> 
                            <td class="name"></td> 
                            <td class="score"></td>
                        </tr>
                        <tr class = p4>
                            <td class="rank">4</td> 
                            <td class="name"></td> 
                            <td class="score"></td>
                        </tr>
                        <tr class = p5>
                            <td class="rank">5</td> 
                            <td class="name"></td> 
                            <td class="score"></td>
                        </tr>
                        <tr class = p6>
                            <td class="rank">6</td> 
                            <td class="name"></td> 
                            <td class="score"></td>
                        </tr>
                        <tr class = p7>
                            <td class="rank">7</td> 
                            <td class="name"></td> 
                            <td class="score"></td>
                        </tr>
                        <tr class = p8>
                            <td class="rank">8</td> 
                            <td class="name"></td> 
                            <td class="score"></td>
                        </tr>
                        <tr class = p9>
                            <td class="rank">9</td> 
                            <td class="name"></td> 
                            <td class="score"></td>
                        </tr>
                        <tr class = p10>
                            <td class="rank">10</td> 
                            <td class="name"></td> 
                            <td class="score"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
