@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/dices.png")">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
    <div id="header">
        <div id="headercontainer">
            <h1 id="my.name">
                <span id="y1">Y</span>
                <span id="a2">a</span>
                <span id="h3">h</span>
                <span id="t4">t</span>
                <span id="z5">z</span>
                <span id="e6">e</span>
                <span id="e7">e</span>
                <span id="l8">!</span>
            </h1>
            <img src="@routes.Assets.versioned("images/dices.png")" class="imgheader" alt="dices icon">
        </div>
    </div>

        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

    <div class="footer">
        <p> Created by
        </p>
    </div>

     </body>
</html>
