@()

@main("Yahtzee!") {

<div class="yahtzee-board">
 <div class="buttoncontainer">
	  <button id="newgame"> <span>New Game</span>  </button>
     <button id="leaders" onclick="location.href='@routes.HomeController.leaderboard';"> <span>Leaderboard</span>  </button>
	  <button id="Rules"> <a href = "../Rules of Yahtzee.pdf"> <span>Rules</span>  </a> </button>
      <!--Open the modal--> 
      <button id="About" > <span>About</span> </button>
      <!--Main modal-->
      <div id="aboutAssignment" class="assignment">
        <!-- Close modal-->
        <div class="about-content">
            <span class="close">&times;</span>
            <p> </p>
        </div>

      </div>
 </div>

 
<div class = "dicezone">
<br> <br>
	<button id="roll"> Roll </button>

    <p> Rounds left: <span id= "rounds">13</span></p>
	<p>Rolls left: <span id="turns">3</span></p>
  <br> <br>
    
	 <div class="container">
        <div class="dice-wrapper">
            <img src="@routes.Assets.versioned("images/dice-1.png")" width="100" height="100" class = "dieimage" id="die1" >
            <img src="@routes.Assets.versioned("images/dice-1.png")" width="100" height="100" class = "dieimage" id="die2" >
            <img src="@routes.Assets.versioned("images/dice-1.png")" width="100" height="100" class = "dieimage" id="die3" >
            <img src="@routes.Assets.versioned("images/dice-1.png")" width="100" height="100" class = "dieimage" id="die4" >
            <img src="@routes.Assets.versioned("images/dice-1.png")" width="100" height="100" class = "dieimage" id="die5" >
            
        </div>
      </div>
	  <br> 
  	 <p>Click a die to hold it</p>

</div>

    <div class = "scoreboard">
        <table>
            <tr class = "tableheading">
                <th>UPPER SECTION</th>
                <th>Score</th>
            </tr>
            <tr class = "tablescoring">
                <td>Aces
                    <p class = "hint"> Count and add only Aces </p>
                </td>
                <td class = "yourscore" id = "aces" > 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Twos
                    <p class = "hint"> Count and add only Twos </p>
                </td>
                <td class = "yourscore" id = "twos"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Threes
                    <p class = "hint"> Count and add only Threes </p>
                </td>
                <td class = "yourscore" id = "threes"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Fours
                    <p class = "hint"> Count and add only Fours </p>
                </td>
                <td class = "yourscore" id = "fours"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Fives
                    <p class = "hint"> Count and add only Fives </p>
                </td>
                <td class = "yourscore" id = "fives"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Sixes
                    <p class = "hint"> Count and add only Sixes </p>
                </td>
                <td class = "yourscore" id = "sixes"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Bonus
                    <p class = "hint"> Add 35 if total score of upper section > 63 </p>
                </td>
                <td class = "yourscore totalscore" id = "bonus35"> 0 </td>
            </tr>
            <tr class = "tabletotaling">
                <td>TOTAL (of upper section)</td>
                <td class = "yourscore totalscore" id = "uppertotal"> 0 </td>
            </tr>

            <tr class = "tableheading">
                <th>LOWER SECTION</th>
                <th>Score</th>
            </tr>
            <tr class = "tablescoring">
                <td>3 of a kind
                    <p class = "hint"> Add total of all dice </p>
                </td>
                <td class = "yourscore" id = "ofakind3"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>4 of a kind
                    <p class = "hint"> Add total of all dice </p>
                </td>
                <td class = "yourscore" id = "ofakind4"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Full House
                    <p class = "hint"> Score 25 if there is 3 of a kind and 2 of a kind</p>
                </td>
                <td class = "yourscore"  id = "fullhouse"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Small Straight
                    <p class = "hint"> Score 30 if there is sequence of 4</p>
                </td>
                <td class = "yourscore" id = "smallstr"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Large Straight
                    <p class = "hint"> Score 40 if there is sequence of 5</p>
                </td>
                <td class = "yourscore" id = "largestr"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Yahtzee
                    <p class = "hint"> Score 50 if there is 5 of a kind</p>
                </td>
                <td class = "yourscore" id = "yahtzee"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Chance
                    <p class = "hint">  Add total of all dice </p>
                </td>
                <td class = "yourscore" id = "chance"> 0 </td>
            </tr>
            <tr class = "tablescoring">
                <td>Yahtzee bonus
                    <p class = "hint"> Score 100 for each additional Yahtzee</p>
                </td>
                <td class = "yourscore totalscore" id = "bonusyahtzee"> 0 </td>
            </tr>
            <tr class = "tabletotaling">
                <td>TOTAL (of lower section)
                </td>
                <td class = "yourscore totalscore" id = "lowertotal"> 0 </td>
            </tr>
            <tr class = "tabletotaling">
                <td>GRAND TOTAL
                </td>
                <td class = "yourscore totalscore" id = "totaltotal"> 0 </td>
            </tr>
        </table>
    </div>

    <div id="confetti-wrapper">
    </div>
</div>

<script>
        let images = ["@routes.Assets.versioned("images/dice-1.png")",
	  "@routes.Assets.versioned("images/dice-2.png")",
	  "@routes.Assets.versioned("images/dice-3.png")",
	  "@routes.Assets.versioned("images/dice-4.png")",
	  "@routes.Assets.versioned("images/dice-5.png")",
	  "@routes.Assets.versioned("images/dice-6.png")"];
</script>
<script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>


}
